*
{
    overflow: auto;
}

body{
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0;
}

p.categorie{
    background-color: #000000;
    color: white;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: 0px;
    padding:8px 10px;
    font-weight: bold;
    font-size: 16px;

}

div.categorie
{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

div.contenu
{
    background-color: white;
    margin: 60px 10% 80px 10%;
    padding: 0 30px 30px 30px;
    min-width: 380px;
    overflow: visible;
    box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1
{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}
p.description
{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.centre
{
    text-align: center;
    width: 100%;
}


div.separateur
{
    background-color: black;
    width: 100px;
    height:1px ;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative;
}
div.info table
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(47, 94, 95, 0.63);
    color: white;
}
div.info img{
    display: block;
    object-fit: cover;
    max-height: 400px;
    min-height: 200px;
}

div.info table td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}
div.info table th{
    vertical-align: bottom;
    padding: 5px;
}


div.colonne
{
    width: 45%;
    margin-top: 10px;
}

div.colonne1{
    display: inline-block;
    margin-right: 10%;
}

div.colonne2{
    
    float: right;
    
}

div.colonne h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 5px solid #6c829d;
}

.ingredients{
    padding-top: 5px;
}

.ingredients p{
    text-align: center;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    margin: 5px;
    font-size: 14px;
}

 td p.etape
{
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    margin: 0;
}

div.colonne2 td
{
    vertical-align: top;
}

div.colonne2 td.etape_preparation
{
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    
}

div.colonne2 tr
{
    height: 40px;
}